


.buttonRole {
    background: white;
    color: black;
    outline: 1px solid black;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}