@use "@/styles/abstracts/variables" as *;

.heading {
    font-size: 2rem;
    font-style: oblique;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.summary {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: lighten(black, 20%);
}

.tags {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.tag {
    font-size: 1.5rem;
    display: inline-block;
    background: gainsboro;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0.7rem;
    border: 2px solid black;
    border-radius: 7px;
    font-weight: 400;
}
.subHeading{
    font-size: 1.6rem;
    font-style: oblique;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.rating{
    font-size: 1.6rem;
    font-style: oblique;
    margin-bottom: 1rem;
    font-weight:500;
}
.icon{
    color: gold;
    font-size: 1.5rem;
    margin-left: 3px;
}