$primary-color: #0C84DF;
$secondary-color: #040b24;

.changeuser{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: $primary-color 1px solid;

}

.user{
    display: grid;

}


.input { 
    padding: 4px 8px;
    outline: none;
    border: 1px solid $primary-color;
    border-radius: 5px;
}

.input:focus {
    border-color: #000000;
}


.button {
    padding: 5px 8px;
    height: 3.4375rem;
    width: 12rem;
    margin: 4px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    background-color: #313638;
}

.button:hover {
    color: #313638;
    background-color: white;
}
@media only screen and (max-width: 768px) {
    .changeuser{
        display: grid;
    }

  
    .button {
      margin-top: 1.5rem;
    }
  }