$primary-color: #0C84DF;
$secondary-color: #040b24;


.changeemail{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: $primary-color 1px solid;

}

.email{
    display: grid;

}


.input{ 
padding: 4px 8px;
outline: none;
border: 1px solid $primary-color;
}


.button{
    padding: 5px 8px;
    width: 15rem;
    margin: 4px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #313638;
}
@media only screen and (max-width: 768px) {
    .changeemail{
        display: grid;
    }

  
    .button {
      margin-top: 1.5rem;
    }
  }