$primary-color: #0C84DF;
$secondary-color: #040b24;


.changeemail{
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: $primary-color 1px solid;

}


.email{
    display: flex;
    justify-content: space-between;
  

    
}
.labelandinput{
    display: grid;


    label{
    font-size: 1.2rem;
}
}

.input{ 
padding: 4px 8px;
outline: none;
border: 1px solid $primary-color;
border-radius: 5px;
}
.input:focus {
    border-color: #000000;
}


.button {
    padding: 5px 8px;
    height: 3.4375rem;
    width: 12rem;
    margin: 4px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    background-color: #313638;
    cursor: pointer;
  
    @media only screen and (max-width: 768px) {
      animation: fadeIn 0.5s ease-in-out forwards;
    }
  }
  
  .button:hover {
    color: #313638;
    background-color: white;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.error{
    color: red;
}

@media only screen and (max-width: 768px) {
    .email{
        display: grid;
    }
    .changeemail{
        display: grid;
    }

  
    .button {
      margin-top: 1.5rem;
    }
  }
