.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;


  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  @media screen and (max-width: 320px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;

  &::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #007bff;
    font-size: 30px;
    font-weight: 10;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    background-color: #f0f0f0;
    border-color: #000;
  }

  &.selected {
    background-color: #fff;
    border-color: #007bff;
    color: #000;

    &::after {
      content: "☑";
      color: #007bff;

    }
  }

  &.selected:hover {
    background-color: #fff;
    border-color: #007bff;
    color: #000;
  }
}
.saveButton {
  font-size: 14px;
  padding: 5px 10px;
  width: 10rem;
}



















// $primary-color: #0C84DF;
// $secondary-color: #040b24;


// .skillsContainer {
//   display: grid;
//   grid-template-columns: repeat(4, minmax(0, 1fr));
//   gap: 10px;
// }

// .skillsContainer > div {
//   display: flex;
//   justify-content: space-between;
//   padding: 10px 20px;
//   border: 1px solid black;
//   border-radius: 10px;
//   font-size: 1.5rem;
//   font-weight: bolder;
//   transition: border-color 0.3s ease-in-out;
// }

// .skillsContainer > div:hover {
//   border-color: $primary-color;
//   background-color: #e4faff;
// }

// // .skillsContainer > div:active {
// //   border-color: $primary-color;
// //   background-color: #00d0ff;
// // }
// .skills{
//   width: 200px;
//   height: 120px;
//   border: 2px solid #ccc;
//   padding: 10px;
//   font-size: 16px;

//   option {
//     padding: 5px;
//     font-size: 14px;
//   }
// }


// /* Medium screens */
// @media only screen and (max-width: 768px) {
//   .skillsContainer {
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//     justify-content: center;
//   }
  
//   .skillsContainer > div {
//     padding: 10px 15px;
//     width: 100%;
//   }
// }

// // For small screens
// @media only screen and (max-width: 480px) {
//   .skillsContainer {
//     grid-template-columns: minmax(0, 1fr);
//     justify-content: center;
//   }
  
//   .skillsContainer > div {
//     padding: 10px;
//     width: 100%;
//   }
// }