$primary-color: #0C84DF;
$secondary-color: #040b24;


.changepassword{
    
    padding-top: 2rem;
    padding-bottom: 2rem;

    border-bottom: $primary-color 1px solid;

}
.inputs{
    display: flex;
    gap: 5px;
}
.input{
display: flex;
    
    justify-content: center;
    align-items: center;
    outline: none;
    border: red;
    border-radius: 5px;
   
}
.inputsendbutton{
    display: flex;
    justify-content: space-between;
    
}
.button {
    padding: 5px 8px;
    height: 3.4375rem;
    width: 12rem;
    margin: 4px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    background-color: #313638;
}

.button:hover {
    color: #313638;
    background-color: white;
}
.forget{
    color: #313638;
    text-decoration: none;
    padding: 2rem;
}
.error{
    color: red;
}
@media only screen and (max-width: 768px) {
    .inputs{
        display: grid;
    }
    .inputsendbutton{
        display: grid;
    }
    .changepassword{
        display: grid;
    }

  
    .button {
      margin-top: 1.5rem;
    }
  }