$primary-color: #0C84DF;
$secondary-color: #040b24;


.changepassword{
    padding-top: 2rem;
    padding-bottom: 2rem;

    border-bottom: $primary-color 1px solid;

}
.inputs{
    display: flex;
}
.input{
    display: grid;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-color: #0C84DF;
   
}
.inputsendbutton{
    display: flex;
    justify-content: space-between;
}
.button{
    padding: 5px 8px;
    width: 15rem;
    margin: 4px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #313638;
}
.forget{
    color: #313638;
    text-decoration: none;
    padding: 2rem;
}
@media only screen and (max-width: 768px) {
    .inputs{
        display: grid;
    }
    .inputsendbutton{
        display: grid;
    }
    .changepassword{
        display: grid;
    }

  
    .button {
      margin-top: 1.5rem;
    }
  }