@use "../styles/abstracts/variables" as *; // To use any style from Variable direct - example $color-bg-white.

// start header

.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: $color-primary;
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}

.header .main_nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .header .main_nav {
    margin: auto;
  }
}

.header .main_nav > li > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: $color-text-black;
  padding: 0 20px;
  overflow: hidden;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .header .main_nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.header .main_nav > li:last-child {
  height: 50px;
  background-color: #0c84df;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.header .main_nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $color-primary;
  top: 0;
  left: -100%;
  transition: 0.3s;
}

.header .main_nav > li > a:hover {
  color: $color-primary;
  background-color: #fafafa;
}

.header .main_nav > li > a:hover::before {
  left: 0;
}
.container {
  max-width: $max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 15px; /* 3 */
  padding-right: 15px; /* 3 */
  width: 100%; /* 1 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// end header

// start landing

.landing {
  position: relative;
}

.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
  color: white;
}

@media (max-width: 768px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

.landing .text p {
  font-size: 18px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: black;
}

@media (max-width: 768px) {
  .landing .text h1 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: $color-primary;
  transform: skewY(6deg);
  transform-origin: top right;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .image img {
  position: relative;
  width: 500px;
  height: 350px;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
