@use "../styles/abstracts/variables" as *; // To use any style from Variable direct - example $color-bg-white.

.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.container {
  max-width: $max-width; 
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 15px; 
  padding-right: 15px; 
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .PassLogo {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header .PassLogo {
    margin: auto;
  }
}

.header .main_nav {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header .main_nav {
  }
}

.header .main_nav > li:hover .mega_menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

.header .main_nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: $color-text-black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .header .main_nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.header .main_nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $color-primary;
  top: 0;
  left: -100%;
  transition: 0.3s;
}

.header .main_nav > li > a:hover {
  color: $color-primary;
  background-color: #fafafa;
}

.header .main_nav > li > a:hover::before {
  left: 0;
}

.header .mega_menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid $color-primary;
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top 0.3s, opacity 0.3s;
}

@media (max-width: 768px) {
  .header .mega_menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

.header .mega_menu .links {
  min-width: 250px;
  flex: 1;
}

.header .mega_menu .links li {
  position: relative;
}

.header .mega_menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 768px) {
  .header .mega_menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

.header .mega_menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: 0.3s;
}

.header .mega_menu .links li:hover::before {
  width: 100%;
}

.header .mega_menu .links li a {
  color: $color-primary;
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.FontAwesomeIcon {
  color: $color-primary;
  width: 25px;
  height: 25px;
}
