@use "../styles/abstracts/variables" as *; // To use any style from Variable direct - example $color-bg-white.

.Nav {
  display: flex;
  width: 100%;
}

.container {
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  max-width: $max-width; /* 1 */
  padding-left: 15px; /* 3 */
  padding-right: 15px; /* 3 */
  width: 100%; /* 1 */
}

.PassLogo {
  margin: 1em 0 0 1em;
}

.header h3 {
  color: $color-text-black;
  margin: 3em 0;
  text-align: center;
}

.header h1 {
  color: $color-primary;
  font-size: 2.6rem;
}

.g1 h5 {
  color: $color-text-black;
  font-weight: 400;
  line-height: 3rem;
  margin: 0;
}

.input {
  border-radius: 5px;
  border: 1px solid $color-primary;
  color: $color-text-black;
  height: 50%;
  outline: 0;
  padding-left: 0.5rem;
  width: 100%;
}

.g3g select {
  border-radius: 5px;
  border: 1px solid $color-primary;
  color: $color-text-black;
  font-size: 1.6rem;
  font-weight: 400;
  height: 50%;
  outline: 0;
  width: 100%;
}

.g4g textarea {
  border-radius: 5px;
  border: 1px solid $color-primary;
  color: $color-text-black;
  font-size: 1.6rem;
  font-weight: 400;
  outline: 0;
  padding-left: 0.5rem;
  resize: none;
  width: 100%;
  height: 50%;
}

.btn {
  align-items: center;
  background-color: $color-bg-button-offWhite;
  border-radius: 5px;
  border: 1px solid $color-primary;
  color: $color-text-black;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  height: 50%;
  justify-content: space-between;
  outline: 0;
  padding-left: 0.5rem;
  transition: 0.3s;
  width: 100%;
}

.FontAwesomeIcon {
  color: $color-primary;
  width: 1em;
}

.btn:hover {
  background-color: $color-text-black;
  color: $color-bg-white;
}

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-auto-rows: 80px;
  background-color: blanchedalmond;
}

@media screen and (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}

.g1g {
  grid-area: 1/1/1/2;
}

.g2g {
  grid-area: 2/1/2/1;
}

.g3g {
  grid-area: 3/1/3/2;
}

.g4g {
  grid-area: 1/2/6/-1;
}

.g5g {
  grid-area: 4/1/4/1;
}

.g6g {
  grid-area: 4/2/4/3;
}

.g7g {
  grid-area: 4/3/4/4;
}

.g8g {
  grid-area: 4/4/4/5;
}

.g9g {
  grid-area: 5/1/5/2;
}

.g10g {
  grid-area: 5/2/5/3;
}

.g11g {
  grid-area: 5/3/5/4;
}

.g12g {
  grid-area: 5/4/5/5;
}

.g13g {
  grid-area: 6/1/6/2;
}

.g14g {
  grid-area: 6/2/6/3;
}

.g15g {
  grid-area: 6/3/6/4;
}

.g16g {
  grid-area: 6/4/6/5;
}
