@use "../styles/abstracts/variables" as *; // To use any style from Variable direct - example $color-bg-white.

.frame {
  border-radius: 5px;
  box-shadow: 1px 2px 10px 0px $color-primary;
  height: 500px;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 500px;
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.PassLogo {
  margin: 0 auto 20px;
}

.frame h3 {
  //   flex: 1;
  color: $color-primary;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.frame p {
  color: $color-text-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.frame h6 {
  color: $color-text-black;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 24px;
  text-align: start;
}

/* Input */

.input {
  border-radius: 10px;
  border: 1px solid $color-primary;
  display: block;
  height: 40px;
  margin: 24px auto;
  outline: 0;
  width: 400px;
}

.input:hover {
  border: 2px solid $color-primary;
}

/* Buttons */

.btn {
  background-color: $color-primary;
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $color-bg-white;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  height: 40px;
  margin: 0 auto;
  transition: 0.4s;
  width: 400px;
}

.btn:hover {
  background-color: $color-bg-button-offWhite;
  color: $color-text-black;
}
