@use "../styles/abstracts/variables" as *;

.pageNoScroll {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.signupLeft {

}

.stikyNavbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2rem;
}

.navBrand {
    padding-left: 10px;
    display: block;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:grey;
    height:100%;
    


    input {
        display:block;
    }
}

.title {
    font-size: 3.2rem;
    font-weight: 700;
}

.btnGoogle{
    padding: 12px 16px 12px 42px;
        border: none;
        border-radius: 8px;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  cursor:pointer;
  color: $color-text-black;
  font-size: 1.4rem;
  font-weight: 600;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: $color-bg-button-offWhite;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.signupRight {
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.imageContainer {
    width: 70%;
    position: relative;
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.imageContainer>div {
    position: unset !important;
}