.profile_head {
    display: grid;
    align-items: center;
    width: 100%;
    background-color: #040b24;
  }
  .text1 {
    text-align: center;
    border-bottom: white 1px solid;
  }
  .text {
    color: white;
    font-size: 2.5rem;
    padding: 2.5rem;
  }
  .profile_head_contant {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    align-items: center;
    border-bottom: white 1px solid;
  }
  .profileimage {
    display: flex;
    border: 5px solid white;
    border-radius: 50%;
  }
  .button {
    display: grid;
    height: 10rem;
    width: 16rem;
  }
  .button > button {
    padding: 5px 8px;
    margin: 4px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #313638;
  }
  @media (max-width: 768px) {
  }
  