.landingpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 1 2rem;
  padding-top: 1%;
  background-color: #51C9FF;
  background-image: url('/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  align-content: stretch;
  
  
  .left_side {
    width: 100vw;
    max-width: 600px;
    padding: 1em; 

    h1 {
      font-size: 2em;
      margin-bottom: 0.5em;
      font-weight: 800  ;
      color: #313638;
    }
    
    h5 {
      font-size: 1.2em;
      font-weight: 400  ;
      color: #313638;

    }
    
    .getstarted {
      position: relative;
      height: 55px;
      width: 220px;
      border-radius: 8px;
      background-color: #0C84Df;
      color: white;
      border: none;
      font-weight: 700;
      cursor: pointer;
      left: 50%;
      transform: translateX(-50%);
      
      &:hover {
        background-color: #3eb0e6;
      }
    }
  }
  
  .right_side {
    width: 100%;
    max-width: 600px;
    margin-top: 2em;

    img {
      width: 100%;
      height: auto;
      animation-name: moveUpDown;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    
    @keyframes moveUpDown {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-20px);
      }
    }
  }
  
  @media (min-width: 768px) {

    flex-direction: row;
    .left_side {
      width: 50%;
      order: 1;
    }
    .right_side {
      width: 50%;
      order: 2;
      margin-top: 0;
    }
  }
  
  @media (max-width: 767px) {
     background-color: #ffffff;
      
    
      .left_side {
      width: 100%;
      order: 1;
      margin-top: 2em;
      justify-content: center;


      h1{
        text-align: center;
      }
      h5{
        text-align: center;
      }
    }
    
    .right_side {
      width: 100%;
      order: 2;
      margin-top: 1em;
    }
    
    .getstarted {
      font-size: 1.2em;
      padding: 0.4em 1.5em;

    }
  }
  
  @media (max-width: 479px) {
    
    h1 {
      font-size: 1.5em;
    }
    
    h5 {
      font-size: 1em;
    }
    
    .getstarted {
      position: relative;
      font-size: 1em;
      padding: 0.4em 1em;
    }
    
    .left_side {
      order: 1;
    }
    
    .right_side {
      order: 2;
    }
  }
}

