.profile {
  display: grid;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  margin-top: 5rem;
}
// .profile_head {
//   display: grid;
//   align-items: center;
//   width: 100%;
// }
// .profile_head_contant {
//   display: flex;
//   justify-content: space-between;
//   padding-left: 5%;
//   padding-right: 5%;
// }
// .text {
//   display: flex;
//   justify-content: center;
// }
// .button {
//   display: grid;
// }