.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
}

.center {
  top: 40vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem; 
}

.image {
  
  margin-bottom: 1rem; 
}

.text {
  padding-top: 2%;
  font-size: 3rem;
  text-align: center;
  word-break: keep-all;
  width: fit-content;
}

 
