.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: 4rem;
  margin-left: 2rem;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 124.71px;
  height:56.73px;
 
}

.logo img {
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 20px;
  }
}

.navLinks li {
  margin: 0 10px;

  @media only screen and (max-width: 768px) {
    margin: 10px 0;
  }
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    color:#51C9FF;
  }
}

/* Main content styles */
.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  top: 40vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; /* add margin-top to center div */
}

.image {
  
  margin-bottom: 1rem; /* reduce margin-bottom to shorten distance */
}

.text {
  padding-top: 2%;
  font-size: 3rem;
  text-align: center;
  word-break: keep-all;
  width: fit-content;
}

 
