.general_info {
    background-color: #040b24;
    color: white;
  }
  .form {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .parentText {
    padding: 20px 0;
  }
  .inputName {
    display: grid;
    padding: 10px 0;
  }
  .inputName > input {
    background-color: #040b24;
    padding: 4px 8px;
    color: white;
    outline: none;
    border: 1px solid white;
  }
  .inputName > label {
    font-size: 1rem;
  }
  .level {
    padding: 10px 0 0;
  }
  .level > select {
    padding: 6px 10px;
    width: 100%;
    background-color: #040b24;
    color: white;
    outline: none;
    border: 1px solid white;
  }
  .level > h4 {
    font-size: 1rem;
  }
  .textarea {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
  }
  .textarea > label {
    font-size: 1rem;
  }
  